<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
<h2 th:text="${message}"></h2>
<div class="container"><form action="#" th:action="@{/leavebal}"
                             th:object="${lb}" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Emergency Leave</label>
        <input type="text" class="form-control"  name="emergencyleave"  required>

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Paid Leave</label>
        <input type="text" class="form-control"  name="paidleave"  required>

    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Total Leave</label>
        <input type="text" class="form-control"  name="totalbal"  required>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>