<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">


</head>
<body>
<h2 th:text="${message}"></h2>
<div class="container">
    <form action="#" method="post"
          th:action="@{/apply}">


        <div class="form-group">
            <label for="exampleInputEmail1">From Date</label>
            <input type="date" class="form-control" name="leaveFromDate" required>

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">To Date</label>
            <input type="date" class="form-control" name="leaveToDate" required>

    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Leave Reason</label>
        <input type="text" class="form-control"  name="reason"  required>

    </div>
<!--
    <div class="form-group">
        <label for="exampleInputPassword1">Leave Type</label>
        <input type="text" class="form-control" name="leaveType"  required>
    </div>-->

<div>
    <label>LeaveType</label>
    <select type="select" class="select" name="leaveType" required>

        <option value="el">Emergency Leave</option>
        <option value="pl">Paid Leave</option>

    </select>

</div>
    <div class="form-group">
        <label for="exampleInputPassword1">Leave Message</label>
        <input type="text" class="form-control" name="leaveMessage"  required>
    </div>
<!--
    <div class="form-group">
        <label for="exampleInputPassword1">Leave Message</label>
        <input type="text" class="form-control" name="status"  required>
    </div>-->


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>
