<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<h2 th:text="${message}"></h2>
<div class="container"><form action="#" th:action="@{/apply}"
                             th:object="${leaveObj}" method="post">
<!--    <div class="form-group">-->
<!--        <label for="exampleInputEmail1">Leave Form Date</label>-->
<!--        <input type="date" class="form-control" name="leaveFromDate" aria-describedby="emailHelp" placeholder="Enter email" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputEmail1">Leave To Date</label>-->
<!--        <input type="date" class="form-control" name="leaveToDate" aria-describedby="emailHelp" placeholder="Enter email" required>-->
<!--    </div>-->


    <div class="form-group">
        <label for="exampleInputEmail1">From Date</label>
        <input type="date" class="form-control"  name="leavefromdate"  required>

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">To Date</label>
        <input type="date" class="form-control"  name="leavetodate"  required>

    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Leave Reason</label>
        <input type="text" class="form-control"  name="reason"  required>

    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Leave Type</label>
        <input type="text" class="form-control" name="leavetype"  required>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Leave Message</label>
        <input type="text" class="form-control" name="leavemessage"  required>
    </div>
<!--
    <div class="form-group">
        <label for="exampleInputPassword1">Leave Message</label>
        <input type="text" class="form-control" name="status"  required>
    </div>-->


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>