<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Leave apply status</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">From Date</th>
        <th scope="col">To Date</th>
        <th scope="col">Reason</th>
        <th scope="col">LeaveType</th>
        <th scope="col">LeaveMessage</th>
        <th scope="col">LeaveStatus</th>
        <th scope="col">Action</th>
        <div sec:authorize="hasAnyAuthority('ADMIN', 'LEAD')">
            <th scope="col">Actions</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="leave: ${leaveRec}">
        <td th:text="${leave.id}" />
        <td th:text="${leave.leaveFromDate}" />

        <td th:text="${leave.leaveToDate}" />

        <td th:text="${leave.reason}" />

        <td th:text="${leave.leaveType}" />

        <td th:text="${leave.leaveMessage}" />

        <td th:text="${leave.status}" />
        <td>
        <a th:href="@{ ${leave.id}+'/cancel' }"> Cancel Leave</a>|
        </td>
        <td >
    <div sec:authorize="hasAnyAuthority('ADMIN', 'LEAD')">
        <a th:href="@{ ${leave.id}+'/approve' }"> Approved</a>|
        <a th:href="@{ ${leave.id}+'/reject' }"> Reject</a>
    </div></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>